<!DOCTYPE HTML>
<html xmls:th="http://www.thymeleaf.org">
<head>
  <title>potatostreamer/home</title>
  <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
</head>
<body>
  <h1>Welcome to PotatoStreamer!</h1>
  <p>
    A "cutting-edge" web-app for music storage and streaming on the cloud.
  </p>
  <hr/>

  <h2>Log in or create an account</h2>
  <nav>
    <ul>
        <li><a href="/register">Register</a></li>
    </ul>
  </nav>
  <hr/>

   
  <article>
    <section>
      <h3>Existing Users</h3>
      <form action="#" th:action="@{/home}" th:object="${existingUser}" method="post" onsubmit="myFunction2()">
        <p>Username:</p>
        <input type="text" th:field="*{id}" required/><br/>
        <p>Password:</p>
        <input type="password" th:field="*{pwd}" required/><br/><br/>
        <input type="submit" value="Confirm" />
      </form>
    </section>
  </article>
  
  <p th:text="${result}" />
  
</body>
</html>
