<!DOCTYPE HTML>
<html xmls:th="http://www.thymeleaf.org">
<head>
  <title>potatostreamer/library</title>
  <meta charset = "UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <style>
  	table,th,tr,td
  	{
  		border: 1px solid black;
  	}
  </style>
</head>
<body>
  <h1>Audio Library</h1>
  <hr/>

  <nav>
    <ul>
        <li><a href="/upload">Upload Music</a></li>
        <li><a href="/home">Logout</a></li>
    </ul>
  </nav>
  <hr/>

 		<audio controls id="myAudio">
  			<source src="/data/clash_clash_twirl.mp3" />
  		</audio>

  <table>
  	<tr>
  		<th>Listen</th>
  		<th>Title</th>
  		<th>Artist</th>
  		<th>Album</th>
  	</tr>
  	<tr th:each = "song: ${audioFiles}">
  	
  		<td><audio id="myAudio">
  			<source src="${song.path}" type="audio/mpeg"></source>
  		</audio>
  		<button onclick="playAudio()" type="button" th:action="@{/play}" method="post">Play</button>
		<button onclick="pauseAudio()" type="button" th:action="@{/stop}">Stop</button> 
  		
  		<script>
  			var x = document.getElementById("myAudio"); 

  			function playAudio() { 
  		 	 x.play(); 
  			} 

  			function pauseAudio() { 
  		 	 x.pause(); 
  			} 
  		</script></td>
		
  		<td th:text="${song.title}"&nbsp;></td>
  		<td th:text="${song.artist}"&nbsp;></td>
  		<td th:text="${song.album}"&nbsp;></td>
  	</tr>
  </table>
</body>
</html>