<!DOCTYPE HTML>
<html xmls:th="http://www.thymeleaf.org">
<head>
  <title>potatostreamer/upload</title>
  <meta charset = "UTF-8" />
</head>
<body>
  <h1>Upload Music</h1>
  <p>
     Browse your computer for audio files and upload them to the cloud!
  </p>
  <hr/>
  <nav>
    <ul>
        <li><a href="/library">View Library</a></li>
        <li><a href="/home">Logout</a></li>
    </ul>
  </nav>
  <hr/>
  
  <h2>File Selection</h2>
  <form action="#" method = "post">
  	Browse your computer for an audio file to upload: <input type="file" name="myFile"><br><br>
  	<input type="submit" value="Upload!" />
  </form>
   
</body>
</html>